
<b>{{passedStation.locationName}}</b>
<br>Precinct Number: {{passedStation.precinctNumber}}
<br>{{passedStation.streetAddress}}
<span *ngIf="passedStation.line1"><br>{{passedStation.line1}}</span>
<span *ngIf="passedStation.line2"><br>{{passedStation.line2}}</span>
<span *ngIf="passedStation.line3"><br>{{passedStation.line3}}</span>
<br>{{passedStation.city}}, {{passedStation.state}} {{passedStation.zip}}
<br>
<span *ngIf="pageTitle === 'Polling Station Details'"><br>Polling Hours: {{passedStation.pollingHours}}</span>
<span *ngIf="pageTitle === 'Polling Station Details'"><br>Additional Information: {{passedStation.notes}}</span>

