<ion-header>
  <top-bar [passedTitle]="pageTitle"></top-bar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="query"></ion-searchbar> 
  </ion-toolbar>
</ion-header>
  
<ion-content class="backgroundColor" padding>
  <div *ngIf="stations!=undefined">
    <ion-card padding (click)="showStationDetails(station)" *ngFor="let station of (stations | sort:'city' | search:query)">
      <pollingstation [passedStation]=station [pageTitle]=pageTitle> </pollingstation>
    </ion-card>
  </div>
</ion-content>
