<ion-header>
  <top-bar [passedTitle]="pageTitle"></top-bar>
</ion-header>

  <ion-content class="backgroundColor" padding>
    <ion-title text-wrap>Your Voter Record Key is: 
      <span style="color:red">{{recordservice.getVoteRecordKey()}} </span></ion-title>
    <ion-card>
      <ion-list-header text-wrap>Visit <b><u><span style="color:green">https://volunteer-dc.herokuapp.com</span></u></b> after the election to retrieve your vote information.
      </ion-list-header>
      <ion-list>
  
        <ion-item>
          <ion-label stacked>Sex:</ion-label>
          <ion-select text-wrap [(ngModel)]="enterSex" #item (change)="onChangeSex(enterSex)">
            <ion-option value="female">Female</ion-option>
            <ion-option value="male">Male</ion-option>
            <ion-option value="noAnswer">No Answer</ion-option>
          </ion-select> 
        </ion-item>
  
        <ion-item>
          <ion-label stacked>Age:</ion-label>
          <ion-select text-wrap [(ngModel)]="enterAge" #item (change)="onChangeAge(enterAge)">
            <ion-option value="18-24">18 - 24</ion-option>
            <ion-option value="25-34">25 - 35</ion-option>
            <ion-option value="35-44">36 - 45</ion-option>
            <ion-option value="45-54">46 - 55</ion-option>
            <ion-option value="55-64">56 - 66</ion-option>
            <ion-option value="65+">67 +</ion-option>
          </ion-select> 
        </ion-item>
  
        <ion-item>
          <ion-label stacked>Ethnicity:</ion-label>
          <ion-select text-wrap multiple="true" [(ngModel)]="enterEthnicity" #item (change)="onChangeEthnicity(enterEthnicity)">
            <!-- <ion-option value="noAnswer">No Answer</ion-option> do other instead and write in option-->
            <ion-option value="americanIndian">American Indian or Alaska Native</ion-option>
            <ion-option value="asian">Asian</ion-option>
            <ion-option value="black">Black or African American</ion-option>
            <ion-option value="hispanic">Hispanic or Latino</ion-option>
            <ion-option value="pacificIslander">Native Hawaiian or Other Pacific Islander</ion-option>
            <ion-option value="white">White</ion-option>
          </ion-select> 
        </ion-item>
        <!--http://www.iowadatacenter.org/aboutdata/raceclassification-->
  
        <ion-item text-wrap>
          <ion-label stacked>Party Affiliation:</ion-label>
          <ion-select text-wrap [(ngModel)]="enterParty"  (change)="onChangeParty(enterParty)">
            <ion-option value="independent">Independent</ion-option>
            <ion-option value="noPartyPreference">No Party Preference</ion-option>
            <ion-option value="democraticParty">Democratic Party</ion-option>
            <ion-option value="greenParty">Green Party</ion-option>
            <ion-option value="republicanParty">Republican Party</ion-option>
            <ion-option value="otherParty">Other Party</ion-option>
          </ion-select> 
        </ion-item>
  
        <ion-item *ngIf="enterParty=='Other Party'">
          <ion-label stacked>Please Write in Party Name:</ion-label>
          <ion-input type="text" [(ngModel)]="enterPartyWriteIn"  (change)="onChangePartyWriteIn(enterPartyWriteIn)"></ion-input>
        </ion-item>
  
  
        <ion-item>
          <ion-label stacked>Annual Income:</ion-label>
          <ion-select text-wrap [(ngModel)]="enterIncome" #item (change)="onChangeIncome(enterIncome)">
            <ion-option value="25k-">$25,000 or less</ion-option>
            <ion-option value="25k-50k">$25,000 - $50,000</ion-option>
            <ion-option value="50k-100k">$50,000 - $100,000</ion-option>
            <ion-option value="100k-250k">$100,000 - $250,000</ion-option>
            <ion-option value="250k-500k">$250,000 - $500,000</ion-option>
            <ion-option value="500k-1M">$500,000 - $1,000,000</ion-option>
            <ion-option value="1M+">$1,000,000 +</ion-option>
          </ion-select> 
        </ion-item>
  
        <ion-item text-wrap>
          <ion-label stacked>Education:</ion-label>
          <ion-select text-wrap [(ngModel)]="enterEducation" #item (change)="onChangeEducation(enterEducation)">
            <ion-option value="highSchool">High School</ion-option>
            <ion-option value="undergraduateSchool">Undergraduate School</ion-option>
            <ion-option value="graduateSchool">Graduate School</ion-option>
            <ion-option value="postGraduateSchool">Post Graduate School</ion-option>
          </ion-select> 
        </ion-item>
  
        <ion-item text-wrap>
          <ion-label stacked>Marital Status:</ion-label>
          <ion-select text-wrap [(ngModel)]="enterMaritalStatus" #item (change)="onChangeMaritalStatus(enterMaritalStatus)">
            <ion-option value="unmarried">Unmarried</ion-option>
            <ion-option value="married">Married</ion-option>
          </ion-select> 
        </ion-item>
  
  
        <ion-item>
          <ion-label stacked>Naturalized Citizen?</ion-label>
          <ion-select text-wrap [(ngModel)]="enterNaturalizedCitizen" #item (change)="onChangeNaturalizedCitizen(enterNaturalizedCitizen)">
            <ion-option value=true>Yes</ion-option>
            <ion-option value=false>No</ion-option>
          </ion-select> 
        </ion-item>
  
  
        <ion-item *ngIf="enterNaturalizedCitizen=='true'">
          <ion-label stacked>Country of Origin?</ion-label>
          <!--<ion-input[(ngModel)]="enterCountryOfOrigin" #item (change)="onChangeCountryOfOrigin(enterCountryOfOrigin)"></ion-input>-->
          <ion-input type="text" [(ngModel)]="enterNaturalizedCitizenWriteIn" #item (change)="onChangeNaturalizedCitizenWriteIn(enterNaturalizedCitizenWriteIn)"></ion-input>
        </ion-item>
  
  
        <ion-item>
          <ion-label stacked>First Time Voter?</ion-label>
          <ion-select text-wrap [(ngModel)]="enterFirstTimeVoter" #item (change)="onChangeFirstTimeVoter(enterFirstTimeVoter)">
            <ion-option value=true>Yes</ion-option>
            <ion-option value=false>No</ion-option>
          </ion-select> 
        </ion-item>
  
  
      </ion-list>
  
    </ion-card>  
  
    <button ion-button type="submit" (click)="onSubmit()" block large>
      Submit
    </button>
  
  </ion-content>