<ion-header>
  <top-bar [passedTitle]="pageTitle"></top-bar>
</ion-header>

<ion-content class="backgroundColor" padding>

  <ion-card padding *ngIf="authSvc.isLoggedIn()">
    <ion-list>
      <ion-list-header>Profile Settings:</ion-list-header>
      <user-profile [pageTitle]="pageTitle"></user-profile>
    </ion-list>
  </ion-card>

  <ion-card padding *ngIf="authSvc.isLoggedIn() && auditSvc.getAudit()">
    <ion-list>
      <ion-list-header>Audit Settings:</ion-list-header>
      <ion-item>
        <ion-item-group>
          <ion-item-divider color="secondary">Location</ion-item-divider>
          <pollingstation [passedStation]=pollingstationservice.getPollingStationbyKey(auditSvc.getAudit().pollingstationId) [pageTitle]=pageTitle></pollingstation>
          
          <ion-item-divider color="secondary">Shifts</ion-item-divider>

          <ion-item-divider color="secondary">Role(s)</ion-item-divider>

          <ion-item-divider color="secondary">Team Schedule</ion-item-divider>
          <audit-details [pageTitle]="pageTitle"></audit-details>
        </ion-item-group>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card padding *ngIf="authSvc.isLoggedIn() && auditSvc.getAudit()">
    <ion-list>
      <ion-list-header>Resume and Role Settings:</ion-list-header>
      <ion-item>
        Resume and role settings go here
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- note for unreg -->
  <ion-card padding *ngIf="!authSvc.isLoggedIn()">
    <ion-item text-wrap>
      <span class='links'  (click)="onClickLogin()">Login</span> to your account or <span class='links' (click)="onClickRegister()">register</span> if you don't have an account yet. If you have forgotten your password <span class='links' (click)="onClickReset()">reset</span> it.
    </ion-item>
  </ion-card>

</ion-content>