<ion-header>
  <top-bar [passedTitle]="pageTitle"></top-bar>
</ion-header>

<ion-content class="backgroundColor" padding>

  <ion-card padding *ngIf="authSvc.isLoggedIn()">
    <ion-list>
      <ion-list-header>Profile Settings:
          <ion-icon name="person" item-left (click)="viewProfile(userSvc.getUser())"></ion-icon>
          <ion-icon *ngIf="!profileToggle" name="arrow-back" item-right (click)="toggleProfile()"></ion-icon>
          <ion-icon  *ngIf="profileToggle" name="arrow-down" item-right (click)="toggleProfile()"></ion-icon>
      </ion-list-header>
      <user-profile *ngIf="profileToggle" [pageTitle]="pageTitle"></user-profile>
    </ion-list>
  </ion-card>

  <ion-card padding *ngIf="authSvc.isLoggedIn()">
    <ion-list>
      <ion-list-header>Resume Settings:
        <ion-icon *ngIf="!resumeToggle" name="arrow-back" item-right (click)="toggleResume()"></ion-icon>
        <ion-icon  *ngIf="resumeToggle" name="arrow-down" item-right (click)="toggleResume()"></ion-icon>
      </ion-list-header>
      <resume *ngIf="resumeToggle" [resume]="resume" [pageTitle]="pageTitle"></resume>
    </ion-list>
  </ion-card>

  <ion-card padding *ngIf="authSvc.isLoggedIn()">
    <ion-list>
      <ion-list-header>Role Settings:
        <ion-icon *ngIf="!roleToggle" name="arrow-back" item-right (click)="toggleRole()"></ion-icon>
        <ion-icon  *ngIf="roleToggle" name="arrow-down" item-right (click)="toggleRole()"></ion-icon>
      </ion-list-header>
      <roles *ngIf="roleToggle"></roles>
    </ion-list>
  </ion-card>


  <ion-card padding *ngIf="authSvc.isLoggedIn() && auditSvc.getAudit() && usersPollingstation">
    <ion-list>
      <ion-list-header>Audit Settings:
        <ion-icon *ngIf="!auditToggle" name="arrow-back" item-right (click)="toggleAudit()"></ion-icon>
        <ion-icon  *ngIf="auditToggle" name="arrow-down" item-right (click)="toggleAudit()"></ion-icon>
      </ion-list-header>
      <ion-item *ngIf="auditToggle">
        <ion-item-group>
          <ion-item-divider color="secondary">Location</ion-item-divider>
          <pollingstation [passedStation]="usersPollingstation" [pageTitle]=pageTitle></pollingstation> 
          
          <ion-item-divider color="secondary">Shifts</ion-item-divider>

          <ion-item-divider color="secondary">Role(s)</ion-item-divider>

          <ion-item-divider color="secondary">Team Schedule</ion-item-divider>
          <audit-details [pageTitle]="pageTitle"></audit-details>
        </ion-item-group>
      </ion-item>
    </ion-list>
  </ion-card>


  <ion-card padding *ngIf="authSvc.isLoggedIn()">
    <ion-list>
      <ion-list-header>Account Settings:
        <ion-icon *ngIf="!accountToggle" name="arrow-back" item-right (click)="toggleAccount()"></ion-icon>
        <ion-icon  *ngIf="accountToggle" name="arrow-down" item-right (click)="toggleAccount()"></ion-icon>
      </ion-list-header>
      <ion-item *ngIf="accountToggle">
        <button ion-button block large outline (click)="deactivateAccount()">
          Deactivate Account
        </button>
      </ion-item>
      <ion-item *ngIf="accountToggle">
        <button ion-button block large outline (click)="deleteAccount()">
          Delete Account
        </button>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- note for unreg -->
  <ion-card padding *ngIf="!authSvc.isLoggedIn()">
    <ion-item text-wrap>
      <span class='links'  (click)="onClickLogin()">Login</span> to your account or <span class='links' (click)="onClickRegister()">register</span> if you don't have an account yet. If you have forgotten your password <span class='links' (click)="onClickReset()">reset</span> it.
    </ion-item>
  </ion-card>

</ion-content>