<ion-header>
  <top-bar [passedTitle]="pageTitle"></top-bar>
</ion-header>

<ion-content class="backgroundColor" padding>

  <!-- <ion-card *ngIf="currentTempVolunteer && currentTempVolunteer.associatedPollingStationKey && !resetPasscode">
    <ion-list text-wrap>
      <ion-list-header>
        Polling Station Team Information
        <button (click)="askShifts()" ion-button item-right >
          Delete Shifts
        </button>
      </ion-list-header>
      <ion-item style="cursor:pointer" (click)="goToStationDetails()"> -->
        <!-- <pollingstationcomponent [passedStations]=thisTempStation> </pollingstationcomponent>  -->
      <!-- </ion-item>
      <div padding>
        <h2 style="margin-bottom:10px">Volunteer List:</h2>
        <p *ngFor="let item of (fullVolunteerList)"> 
          <span>{{item.firstName}} {{item.lastName}}</span> <span style="float: right" *ngIf="item.exposeEmail">{{item.emailAddress}}</span>
        </p>
      </div>
    </ion-list>
  </ion-card> -->


  <ion-card padding *ngIf="currentTempVolunteer && !resetPasscode">
    <user-profile [newUser]="newUser" [pageTitle]="pageTitle"></user-profile>
  </ion-card>

  <!-- note for unreg -->
  <ion-card padding *ngIf="!authSvc.isLoggedIn() && !resetPasscode">
    <span class='links'  (click)="onClickLogin()">Login</span> to your account or <span class='links' (click)="onClickRegister()">register</span> if you don't have an account yet. If you have forgotten your password,  <span class='links' (click)="onClickReset()">reset</span> it.
  </ion-card>
</ion-content>