    <!-- 
      <ion-item>
      <ion-label stacked>Shift(s):</ion-label>
        <ion-select text-wrap [(ngModel)]="enterShift" (change)="onChangeShift(enterShift)">
          <ion-option value="earlyMorning">Early Morning (5:00 AM - 8:15 AM)</ion-option>
          <ion-option value="lateMorning">Late Morning (8:00 AM - 11:15 AM)</ion-option>
          <ion-option value="earlyAfternoon">Early Afternoon (11:00 AM - 2:15 PM)</ion-option>
          <ion-option value="lateAfternoon">Late Afternoon (2:00 PM - 5:15 PM)</ion-option>
          <ion-option value="earlyEvening">Early Evening (5:00 PM - 8:15 PM)</ion-option>
          <ion-option value="lateEvening">Late Evening (8:00 PM - 10:30 PM)</ion-option>
        </ion-select> 
    </ion-item>
    -->   