<!-- Left Menu -->

<ion-menu [content]="content" side="left" id="mainMenu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Main Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item menuClose="mainMenu" *ngFor="let p of leftPages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Right Menu -->

<ion-menu [content]="content" side="right" id="auditorMenu">
    <ion-header>
        <ion-toolbar>
          <ion-title>Auditor Menu</ion-title>
        </ion-toolbar>
      </ion-header>

    <ion-content>
      <ion-list>
        <button ion-item menuClose="auditorMenu" *ngFor="let p of rightPages" (click)="openPage(p)" detail-none>
            {{p.title}}
        </button>
      </ion-list>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>