<form [formGroup]="loginForm">
  <ion-list>
    <ion-item>
      <ion-label stacked>Cell Phone Number (numbers only):</ion-label>
      <ion-input type="tel" formControlName="enterPhoneNumber" (blur)="onDirtyPhoneNumber()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Passcode:</ion-label>
      <ion-input type="password" formControlName="enterPasscode" (blur)="onDirtyPasscode()"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button block large [disabled]="!loginForm.valid"  (click)="onLogin()">
    Log In
  </button>

  <button color="secondary" ion-button block large [disabled]="!loginForm.valid" (click)="onRegister()">
    Register
  </button>
  
  <P class="error-msg" *ngIf="errorMessage!=null">{{errorMessage}}</P>
  

</form> 




